 <mat-toolbar class=header-toolbar>
    <a href="#" class="logo">
      <img src="../assets/images/img-11.png" width="150" height="50" alt="Exchain logo">
    </a>  
    <span class="example-spacer"></span>
    <button mat-button routerLink="home" class="Home-button">
      <a class="navbar-item">  
        <a href="home" class="navbar-link">
       Home 
        </a>
      </a>
    </button>
    
    <button mat-button routerLink="trade" class="Trade-button">
      <a class="navbar-item">  
        <a href="trade" class="navbar-link">
      Trade
        </a>
      </a>
   </button>

   <button mat-button routerLink="pools" class="Pools-button">
      <a class="navbar-item">  
        <a href="pools" class="navbar-link">
      Pools
        </a>
      </a>
    </button>



   <button mat-button routerLink="aboutus" class="AboutUs-button">
      <a class="navbar-item">  
      <a href="aboutus" class="navbar-link">
    About Us
      </a>
    </a>
    
 </button>
  </mat-toolbar>
