<title>About Us </title>

  <div class="AboutUsSection" style="background-color: #E7EDFF">
    <div class="container">
      <div class="brand">
        <a href="#" class="logo">
          <img src="../assets/images/img-7.png" width="300" height="200" alt="Exchain-logo">
        </a>

      </div>
      <div class="footer-link-box">
        <ul class="footer-list">
        
          <p class="footer-list-title">Contact Us</p>
        
          <a href="tel:+44 7777 777777" class="footer-link">
            
            <span class="footer-link-text">+44 7777 777777</span>
          </a>
        
          <p>
          <a href="mailto:pr22405@bristol.ac.uk" class="footer-link">
            
            <span class="footer-link-text">pr22405@bristol.ac.uk</span>
          </a>
          <p>
          <a href="mailto:wx22983@bristol.ac.uk" class="footer-link">
            
            <span class="footer-link-text">wx22983@bristol.ac.uk</span>
          </a>
          <p>
          <a href="mailto:eh22127@bristol.ac.uk" class="footer-link">
            
            <span class="footer-link-text">eh22127@bristol.ac.uk</span>
          </a>
          <p>
          <a href="mailto:jg19184@bristol.ac.uk" class="footer-link">
            
            <span class="footer-link-text">jg19184@bristol.ac.uk</span>
          </a>
          <p>
          <a href="mailto:xy22597@bristol.ac.uk" class="footer-link">
            
            <span class="footer-link-text">xy22597@bristol.ac.uk</span>
          </a>






          </p>  
        </ul>
      

      </div>
    </div>
  </div>