<!-- 
    - #HEADER
  -->
  <header class="header" data-header>
    
    <div class="container">
      
      <div class="overlay" data-overlay ></div>
      
      <app-navbar></app-navbar>

  <router-outlet></router-outlet>
      
        <mat-grid-list class="HomeContainer" cols="3" rowHeight=1000>
          <mat-grid-tile class="advertisement1"> Ad. </mat-grid-tile>
          <mat-grid-tile class="Home-content" rowWidth="1000"> Welcome to EXCHAIN! </mat-grid-tile>
          <mat-grid-tile class="advertisement2"> Ad. </mat-grid-tile>
        
        </mat-grid-list>
      </div>


  <!-- 
    - #FOOTER
  -->
  <footer class="footer">

    <div class="footer-bottom">
      <div class="container">
        <p class="copyright">
          <p>
          &copy; 2023 <a href="#" class="copyright-link">FTGP Group 3</a>. All Rights Reserved
          </p>

      </div>
    </div>
  </footer>
