<section class="section-body" style="background-color: #E7EDFF;">
    <div class="container">
        <div class="centered-content">

            <button mat-button class="PoolsA-button">
                Add liquidity to Pool AAA 
            </button>
        <p>   
            <button mat-raised-button class="PoolsB-button">
                Add liquidity to Pool BBB 
            </button>
        <p>
            <button mat-raised-button class="PoolsC-button">
                Add liquidity to Pool CCC 
            </button>
        <p>
            <button mat-raised-button class="PoolsA-liquidity-remove-button">
                Remove all AAA liquidity 
            </button>
        <p>
            <button mat-raised-button class="PoolsB-liquidity-remove-button">
                Remove all BBB liquidity 
            </button>
        <p>
            <button mat-raised-button class="PoolsC-liquidity-remove-button">
                Remove all CCC liquidity 
            </button>
        </div>
    </div>
</section>
